<header class="fedlab-header">
    <img src="https://git.sogou-inc.com/uploads/-/system/project/avatar/2247/logo_sogou.png" width="80" height="80" class="fedlab-header-logo">
    <h1 class="fedlab-header-title">搜狗搜索 -  前端团队</h1>
</header>