<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="fedlab theme for hexo">
    <meta name="Keywords" content="fedlab 煦涵说">
    <meta id="author" content="zuojj">
    <meta id="Copyright" content="Copyright 2015-2017 Fedlab. All Rights Reserved">
    <meta name="format-detection" content="telephone=no">
    <link type="image/x-icon" href="/static/favicon.ico" rel="icon">
    <link type="image/x-icon" href="/static/favicon.ico" rel="Shortcut Icon">
    <link type="image/x-icon" href="/static/favicon.ico" rel="bookmark">
    <link rel="apple-touch-icon-precomposed" href="/static/touch-translation.png">
    <title><%=title%> - FEDLAB</title>
</head>
<body>