<nav class="fedlab-menu">
    <div class="fedlab-menu-inner fedlab-container">
        <ul class="fedlab-menu-list">
            <li class="fedlab-menu-item">
                <a href="/">全部</a>
            </li>
            <li class="fedlab-menu-item">
                <a href="/">HTML</a>
            </li>
            <li class="fedlab-menu-item">
                <a href="/">CSS</a>
            </li>
            <li class="fedlab-menu-item">
                <a href="/">JAVASCRIPT</a>
            </li>
            <li class="fedlab-menu-item">
                <a href="/">NODEJS</a>
            </li>
            <li class="fedlab-menu-item">
                <a href="/">MONGODB</a>
            </li>
        </ul>
    </div>
</nav>