<nav class="fedlab-nav">
    <div class="fedlab-nav-inner fedlab-container">
        <div class="fedlab-nav-menu">
            <span class="menu-line"></span>
            <span class="menu-line "></span>
            <span class="menu-line"></span>
        </div>
        <ul class="fedlab-nav-list">
            <li class="fedlab-nav-item">
                <a href="/" class="selected">Home</a>
            </li>
            <li class="fedlab-nav-item">
                <a href="/about">About</a>
            </li>
            <li class="fedlab-nav-item">
                <a href="/contact">Contact US</a>
            </li>
        </ul>
        <div class="fedlab-share">
            <a href="https://github.com/zuojj" class="fedlab-share-item">
                <i class="iconfont icon-github"></i>
            </a>
            <a href="https://weibo.com/zuojj" class="fedlab-share-item">
                <i class="iconfont icon-weibo"></i>
            </a>
            <a href="https://twitter.com/zuojj" class="fedlab-share-item">
                <i class="iconfont icon-twitter"></i>
            </a>
            <a href="https://www.facebook.com/zuojj" class="fedlab-share-item">
                <i class="iconfont icon-facebook"></i>
            </a>
            <a href="javascript:void(0);" class="fedlab-share-item">
                <i class="iconfont icon-search"></i>
            </a>
        </div>
    </div>
</nav>