<div class="fedlab-search">
    <div class="fedlab-search-inner fedlab-container">
        <i class="fedlab-search-icon">搜索</i>
        <form action="" class="fedlab-search-form">
            <input type="search">
        </form>
    </div>
</div>