<div class="fedlab-slide">
    <ul class="fedlab-slide-list">
        <div class="fedlab-slide-item">
            <img src="http://1.bp.blogspot.com/-rSW8uCCZRq4/VZB0Fm71ZPI/AAAAAAAAF84/pZoyu_H3Aec/s400-p/pf-3.jpg">
        </div>
        <div class="fedlab-slide-item">
            <img src="http://2.bp.blogspot.com/-AvOz8o1h4pQ/VZBz9csMI7I/AAAAAAAAF8w/RbUIxf0yk_s/s400-p/pf-9.jpg">
        </div>
        <div class="fedlab-slide-item">
            <img src="http://1.bp.blogspot.com/-rSW8uCCZRq4/VZB0Fm71ZPI/AAAAAAAAF84/pZoyu_H3Aec/s400-p/pf-3.jpg">
        </div>
        <div class="fedlab-slide-item">
            <img src="http://2.bp.blogspot.com/-AvOz8o1h4pQ/VZBz9csMI7I/AAAAAAAAF8w/RbUIxf0yk_s/s400-p/pf-9.jpg">
        </div>
        <div class="fedlab-slide-item">
            <img src="http://1.bp.blogspot.com/-rSW8uCCZRq4/VZB0Fm71ZPI/AAAAAAAAF84/pZoyu_H3Aec/s400-p/pf-3.jpg">
        </div>
    </ul>
</div>