/*
 * @Author: zuojj
 * @Description: 文章列表 
 * @Date: 2017-09-23 22:55:47 
 */
.fedlab-article {
    &-list {
        margin-left: -40px;
        @extend %clearfix;
    }
    &-item {
        float: left;
        position: relative;
        width: 371px;
        margin-left: 40px;
        margin-bottom: 40px;
        background-color: #fff;
        border: 1px solid #e8e8e8;
        -webkit-transition: box-shadow .3s ease-in, -webkit-transform .2s ease-in;
        transition: box-shadow .3s ease-in, transform .2s ease-in;

        &:hover {
            -webkit-transform: translate(0,-3px);
            transform: translate(0,-3px);
            box-shadow: 0 3px 10px rgba(0,0,0,.06);
            .pic {
                transform: scale(1.1);
            }
        }
        &-banner {
            height: 205px;
            overflow: hidden;
            background: url("../assets/img/article_default.gif") center no-repeat;
            background-size: 100% auto;
            a {
                display: block;
            }
            .pic {
                width: 100%;
                height: 205px;
                transition: transform 0.8s ease 167ms;
            }
        }
        &-title {
            padding: 10px 15px 0;
            h3 {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                word-wrap: normal;
                text-overflow: ellipsis;
                word-break: break-all;
                font-size: 18px;
                a {
                    color: #4f4f4f;
                }
            }
        }
        &-footer {
            padding: 0 15px 10px;
            line-height: 24px;
            font-size: 14px;
            @extend %clearfix;
            .author {
                float: left;
                &-avatar {
                    box-sizing: border-box;
                    border: 1px solid #e8e8e8;
                    border-radius: 50%;
                }
                a {
                    color: #afafaf;
                }
            }
            .date {
                float: right;
                color: #afafaf
            }
        }
    }
}