.fedlab {
    &-footer {
        background-color: #444;
        color: #aaa;
        padding: 15px 0;
        font-size: 12px;
        text-transform: uppercase;
        &-inner {
            display: flex;
            justify-content: space-between;
            @extend %max-width;
        }
        a {
            color: #e15d5d;
            &:hover {
                color: #aaa;
            }
        }
    }
}