/*
 * @Author: zuojj
 * @Description: 分割线 
 * @Date: 2017-09-23 18:47:38 
 */

.fedlab-hr {
    position: relative;
    height: 48px;
    margin: 30px 0 20px 0;
    padding: 7px 0 6px;

    &-line {
        position: absolute;
        left: 0;
        top: 30px;
        right: 0;
        height: 1px;
        overflow: hidden;
        background-color: #d2d2d2;
    }

    &-content {
        position: absolute;
        left: 50%;
        z-index: 10;
        width: 120px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        margin-left: -60px;
        background-color: #f9f9f9;
    }
}