
.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.icon-clear {
    background-image: url("../assets/img/icons/clear.png");
}
.icon-search {
    background-image: url("../assets/img/icons/search.png");
}
