
%clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

%max-width {
    width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}