a:active,
button,
input,
select,
textarea {
    background-color: transparent
}

pre,
textarea {
    overflow: auto
}

blockquote,
body,
dd,
dir,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
menu,
ol,
optgroup,
p,
pre,
tbody,
td,
textarea,
tfoot,
th,
thead,
ul {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0
}

::-moz-selection {
    background: rgba(0, 0, 0, .12)
}

::selection {
    background: rgba(0, 0, 0, .12)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
iframe,
main,
nav,
section,
summary {
    display: block
}

ol,
ul {
    list-style-type: none;
    list-style-image: none
}

a {
    text-decoration: none
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none!important
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 12px;
    -webkit-font-smoothing: antialiased
}

body {
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1.5;
    color: #4f4f4f
}

body,
button,
input,
select,
textarea {
    font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', tahoma, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
    text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
    outline: 0;
    text-rendering: optimizeLegibility
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

abbr,
acronym {
    border-bottom: 1px dotted;
    cursor: help
}

b,
strong {
    font-weight: 700
}

code,
kbd,
pre,
samp {
    font-family: monaco, menlo, consolas, 'courier new', courier, monospace
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:after,
q:before {
    content: ''
}

small {
    font-size: 12px
}

sub,
sup {
    position: relative;
    line-height: 0;
    font-size: 10px;
    vertical-align: middle
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table th {
    text-align: left;
    font-weight: inherit
}

img {
    border: 0;
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    white-space: normal
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
input[disabled] {
    cursor: default
}

input[type=radio],
input[type=chechbox] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

.comment,
.g-tools li {
    box-sizing: border-box
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

textarea {
    resize: vertical
}

option:disabled:checked,
select:disabled option:checked {
    color: #D2D2D2
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input {
        line-height: normal!important
    }
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #000;
    opacity: 1
}

label {
    cursor: pointer
}

select[multiple],
select[size],
select[size][multiple] {
    border: 1px solid #AAA;
    padding: 0
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

[draggable] {
    cursor: move
}
