.fedlab {
    &-topnav {
        height: 40px;
        line-height: 40px;
        background-color: #444;
        &-menu {
            display: flex;
            &-item {
                &:not(:last-child) {
                    margin-right: 15px;
                }
                a {
                    display: block;
                    padding: 0 15px;
                    font-size: 12px;
                    color: #aaa;
                    text-transform: uppercase;
                    &.selected {
                        font-weight: bold;
                    }
                    &:hover {
                        color: #e15d5d;
                    }
                }
            }
        }
    }
    &-share {
        &-item {
            width: 14px;
            height: 14px;
            margin: 0 5px;
        }
    }
}