/*
 * @Author: zuojj
 * @Description: 查看更多  
 * @Date: 2017-09-23 23:03:10 
 */
.fedlab-view-more {
    cursor: pointer;
    margin-bottom: 60px;
    font-size: 16px;
    box-shadow: 0 3px 10px rgba(0,0,0,.03);
    border: 1px solid #e8e8e8;
    text-align: center;
    display: block;
    line-height: 44px;
    background-color: #fff;
    color: grey;
}