<div class="fedlab-article">
    <div class="fedlab-article-detail">
        <div class="fedlab-article-detail-title">
            <h2><%= page.title %></h2>
        </div>
        <div class="fedlab-article-detail-text">
            <div class="content-text">
                <%- page.content %>
            </div>
        </div>
    </div>
</div>