        <footer class="fedlab-footer">
            <div class="fedlab-footer-inner fedlab-container">
                <div class="fedlab-footer-copyright">
                    <p>Copyright © <%- date(Date.now(), 'YYYY') %>
                        <a href="<%= config.url %>">WEBX-TEAM</a>，
                        Powered by <a href="https://hexo.io/zh-cn/" target="_blank">Hexo</a>
                    </p>
                </div>
                <div class="fedlab-footer-author">
                    <p>Created By
                        <a href="https://github.com/zuojj">zuojj</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <%- js('js/common') %>
</body>

</html>