<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="<%= config.description %>">
    <meta name="Keywords" content="<%= config.keywords %>">
    <meta id="author" content="zuojj">
    <meta id="Copyright" content="Copyright 2018 WEBX-TEAM. All Rights Reserved">
    <meta name="format-detection" content="telephone=no">
    <link type="image/x-icon" href="//dlweb.sogoucdn.com/translate/favicon.ico" rel="icon" />
    <link type="image/x-icon" href="//dlweb.sogoucdn.com/translate/favicon.ico" rel="Shortcut Icon" />
    <link type="image/x-icon" href="//dlweb.sogoucdn.com/translate/favicon.ico" rel="bookmark" />
    <link rel="apple-touch-icon-precomposed" href="//dlweb.sogoucdn.com/translate/touch-translation.png">
    <title><%= (page && page.title ? page.title + '-' : '') + config.title %></title>
    <%- css('css/index')%>
</head>
<body>
    <div class="fedlab-outer">