<header class="fedlab-header">
    <a href="/"><img src="//dlweb.sogoucdn.com/webx-team/logo.png" width="80" height="80" class="fedlab-header-logo"></a>
    <h1 class="fedlab-header-title"><%= config.title %></h1>
</header>