<nav class="fedlab-nav">
    <div class="fedlab-nav-inner fedlab-container">
        <div class="fedlab-nav-menu">
            <span class="menu-line"></span>
            <span class="menu-line "></span>
            <span class="menu-line"></span>
        </div>
        <ul class="fedlab-nav-list">
            <li class="fedlab-nav-item">
                <a href="/" class="selected">首页</a>
            </li>
            <li class="fedlab-nav-item">
                <a href="http://gs.sogou-inc.com/docs/" target="_blank">文档</a>
            </li>
            <li class="fedlab-nav-item">
                    <a href="http://gs.sogou-inc.com/npm/" target="_blank">NPM</a>
                </li>
            <li class="fedlab-nav-item">
                <a href="http://gs.sogou-inc.com/statistics" target="_blank">统计</a>
            </li>
            <!-- <li class="fedlab-nav-item">
                <a href="/about/" target="_blank">我们</a>
            </li> -->
        </ul>
        <div class="fedlab-share">
            <a href="https://github.com/webx-team" target="_blank" class="fedlab-share-item">
                <i class="iconfont icon-github"></i>
            </a>
            <a href="https://weibo.com/webx-team" target="_blank" class="fedlab-share-item">
                <i class="iconfont icon-weibo"></i>
            </a>
            <a href="https://twitter.com/webx-team" target="_blank" class="fedlab-share-item">
                <i class="iconfont icon-twitter"></i>
            </a>
            <!-- <a href="https://www.facebook.com/webx-team" target="_blank" class="fedlab-share-item">
                <i class="iconfont icon-facebook"></i>
            </a> -->
            <a href="javascript:void(0);" class="fedlab-share-item">
                <i class="iconfont icon-search"></i>
            </a>
        </div>
    </div>
</nav>